@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  html,
  body {
    @apply m-0 p-0;
  }
  a,
  input,
  textarea,
  select,
  button {
    @apply outline-none focus:outline-none;
  }

  a,
  button {
    @apply lg:bg-opacity-80 hover:bg-opacity-100 !important;
  }

  * {
    @apply box-border font-sans-serif transition-all;
  }

  .word-wrap {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  .custom-input {
    @apply w-full bg-gray-50;
  }

  .custom-input-wrapper {
    @apply flex flex-col my-1;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .custom-scrollbar {
    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    ::-webkit-scrollbar-thumb {
      background: #fafafa;
      border-radius: 30px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #c7ceff;
    }
    ::-webkit-scrollbar-track {
      background: #ffffff;
      border-radius: 10px;
      box-shadow: inset 7px 10px 12px 0px #f0f0f0;
    }
  }

  .position-cover {
    @apply bottom-0 top-0 right-0 left-0;
  }
}
