os: linux
env:
  global:
    - SECRET_KEY=$MAIN_SECRET_KEY
    - TEST_MONGO_DB=$MAIN_DB
    - MONGO_DB=$MAIN_DB
    - MONGO_URI=$MAIN_MONGO_URI
    - NODE_VER="14.17.1"
jobs:
  include:
    - stage: Test
      addons:
        apt_packages:
          - parallel
      language: python
      python: "3.9"
      cache:
        directories:
          - node_modules
      before_install:
        - nvm install $NODE_VER
      install:
        - cd server/
        - pip install -r requirements.txt
        - cd ..
        - cd client/
        - npm install
        - cd ..
      script:
        - bash ./test_runner.sh frontend
    - stage: Test
      addons:
        apt_packages:
          - parallel
      language: python
      python: "3.9"
      install:
        - cd server/
        - pip install -r requirements.txt
        - cd ..
      script:
        - bash ./test_runner.sh backend
    - stage: Deploy
      script: skip
      deploy:
        provider: script
        cleanup: true
        script: ssh -o "StrictHostKeyChecking no" $ssh_server $ssh_command
        on:
          all_branches: true
          condition: $TRAVIS_BRANCH =~ ^(main|dev)$

before_install:
  - openssl aes-256-cbc -K $encrypted_2fc69c4133c3_key -iv $encrypted_2fc69c4133c3_iv
    -in id_rsa.enc -out /tmp/id_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 /tmp/id_rsa
  - ssh-add /tmp/id_rsa
