language: node_js
node_js:
  - lts/*
cache:
  directories:
    - node_modules
script:
  - npm run build
  - touch out/.nojekyll
os:
  - linux
deploy:
  provider: pages
  cleanup: true
  fqdn: githubsrm.tech
  github_token: $github_token
  local_dir: out
  on:
    all_branches: true
    condition: $TRAVIS_BRANCH =~ ^(master|main)$
