@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  html,
  body {
    @apply m-0 p-0;
  }

  input,
  textarea,
  select,
  button {
    @apply outline-none focus:outline-none;
  }

  a,
  button {
    @apply bg-opacity-80 hover:bg-opacity-100 !important;
  }

  * {
    @apply box-border font-sans-serif transition-all;
  }

  /* * INFO: only used to prevent classes from purging; ignore the 'alert' */
  .purge-prevention {
    @apply bg-base-black bg-base-green bg-base-smoke bg-base-blue bg-base-teal;
    @apply border-base-black border-base-green border-base-smoke border-base-blue border-base-teal;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .position-cover {
    @apply bottom-0 top-0 right-0 left-0;
  }
}
